.forum {
  border-radius: 16px;
}

.newtopic {
  text-transform: uppercase;
  border-radius: 0 0 6px 6px;
}

.griditem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.griditem_title {
  text-transform: uppercase;
}

.griditem_row {
  text-transform: capitalize;
}

.forumlist {
  height: 100%;
  overflow-y: auto;
}

.forumlist_header {
  position: sticky;
  top: 5px;
}

.griditem_box {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal_footer {
  gap: 20px;
  justify-content: flex-end;
}

.topic_item_avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #febe60;
}

.go_back_icon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
