{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11
  },
  "plugins": ["import", "@typescript-eslint"],
  "ignorePatterns": ["dist/**", "vite.config.ts"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": 1,
    "semi": "warn",
    "quotes": ["warn", "single"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "max-len": [
      "warn",
      {
        "code": 100
      }
    ],
    "space-before-blocks": "warn",
    "no-multi-spaces": "warn",
    "no-trailing-spaces": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "@app/*",
            "group": "internal"
          }
        ],
        "groups": ["builtin", "external", "internal", "parent", ["sibling", "index"]],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  }
}
