.offer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 6px;
}

.active {
  a {
    background-color: #febe60 !important;
  }
}

.page_item {
  margin-right: 5px;
  margin-left: 5px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    list-style: none;
    cursor: pointer;
    background-color: #9dc6af;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      border: 3px solid #e53e3e;
    }
  }
}
