.not-found__go-back-link {
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}

.not-found__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  text-transform: uppercase;
}

.not-found__code_central {
  &::first-letter {
    vertical-align: sub;
  }
}
