name: Redeploy project
on:
  push:
    branches: ["release"]

jobs:
  redeploy-project:
    name: Redeploy project
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile.server
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/prackicum-server-code-alchemists:latest

      - name: Connect to VPS and redeploy project with new image
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_KEY }}
          script: cd ~/docker && docker-compose stop && docker-compose down && sudo docker pull ${{ secrets.DOCKER_USERNAME }}/prackicum-server-code-alchemists:latest && sudo docker-compose -f docker-compose.prod.yml up -d --no-deps
